rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Simple rules for the prototype Event App
    match /{document=**} {
      allow read, write: if true; // In a production app, we would secure this heavily.
    }
  }
}
